
#anchor-quote:target {
    float: left;
    margin: -100px;
}
.btn-vmaig-comments {
    background-color: hsla(1.73913, 64.486%, 41.9608%, 1);
    border-color: #d43f3a;
    color: rgba(255, 255, 255, 1);
}
.panel-vmaig-comments {
    border-color: #eee;
    box-shadow: 0 0 5px #c2c2c2;
}
.panel-vmaig-comments .panel-heading {
    background-color: rgba(0, 0, 0, 1);
    border-color: #eee;
    color: rgba(255, 255, 255, 1);
}
.panel-vmaig-comments .input-group-addon {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #3d4450;
    color: rgba(255, 255, 255, 1);
}
.panel-vmaig-comments .badge {
    background-color: hsla(19.3548, 100%, 42.549%, 1);
}
.panel-vmaig-comments span.btn {
    margin-right: 5px;
    padding: 0;
}
.vmaig-comment ul {
    padding-left: 0;
}
.vmaig-comment ul li {
    border-top: 1px dotted #ddd;
    list-style-type: none;
    padding: 10px;
}
.vmaig-comment-tx {
    float: left;
}
.vmaig-comment-content {
    padding-left: 50px;
    word-break: break-all;
}
.vmaig-comment-content h1 {
    font-size: 15px;
    margin: 0;
    padding-bottom: 10px;
}
.vmaig-comment-edit {
    margin-bottom: 20px;
    padding-left: 50px;
}
.vmaig-comment-edit textarea {
    margin-bottom: 10px;
    width: 100%;
}
.vmaig-comment-edit button {
}
.comment-tx {
    float: left;
}
.comment-info {
    padding-left: 20%;
}
.comment-username a {
    color: hsla(91.5789, 94.3262%, 72.3529%, 1);
    font-size: 14px;
}
.comment-content {
    word-break: break-all;
}
.comment-quote p {
    border: 2px solid #eee;
    padding: 5px;
}

.article-content p{
    font-size: 14px;
}

.article-tags a {
     font-size: 14px;
}
