{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} How to Tango with Django! {% endblock %}

{% block body_block %}
    <h1>How to Tango with Django!</h1>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="/rango/third_page/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
{% endblock %}
{% block footer %}
    <li>访问次数：{{ visits }}</li>
    <li>上次登录时间:{{ last_visit_time }}</li>
{% endblock %}
